<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="left">
                <a th:href="@{/home}"> <span class="navbar-brand animation fs-4 fw-bold">Travel Agency</span></a>
            </div>
            <div class="right">
                <form class="right" action="/auth/logout" method="POST">
                    <button type="submit" class="btn btn-light">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

        body {
            font-family: 'Open Sans', sans-serif;
        }

        .left {
            position: absolute;
            top: 3px;
            left: 20px;
        }

        .right {
            position: absolute;
            top: 6px;
            right: 16px;
        }

        .navbar {
            height: 60px;
            border-bottom: solid 1px #d9d6d6;
        }

        .animation {
            text-transform: uppercase;
            background-image: linear-gradient(
                    -225deg,
                    #2980b9 50%,
                    #2c3e50 50%
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: inherit;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
        }

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
    </style>
</div>