<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Update Room</title>
</head>
<body>

<div th:replace="header"></div>
<div class="col-md-offset-2">
    <h2>Edit Room</h2>
    <h5>Available to change room's credentials</h5>
</div>
<br>
<div>
    <form class="form-horizontal" th:action="@{|/rooms/${room.id}/update|}" th:object="${room}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="hotelName">Hotel name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" th:value="${hotelName}" disabled id="hotelName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="room-number">Room number:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" th:field="*{number}" id="room-number"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="price">Price:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" th:field="*{price}" id="price"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <br>
                <input class="btn btn-info" type="submit" style="width:80px" value="Update"/>
                <input class="btn btn" type="reset" style="width:80px; margin-left: 5px" value="Clear"/>
                <input name="id" th:value="*{id}" type="hidden"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>